@font-face {
  font-family: "Chivo";
  src: url("/assets/font/Chivo-Thin.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Chivo-Light";
  src: url("/assets/font/Chivo-Light.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
}
body {
  background-color: #121725;
  font-family: "Chivo";
  text-align: center;
}

@media (max-width: 767px) {
  body {
    position: relative;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
  }
}

@media (min-width: 768px) {
  body {
    text-align: initial;
  }
}
