@font-face {
  font-family: "Chivo";
  src: url("./assets/font/Chivo-Thin.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #121725;
  font-family: "Chivo";
  text-align: center;
}

main {
  max-width: 375px;
  margin-inline: auto;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  body {
    text-align: initial;
  }
  main {
    max-width: 768px;
    background: url("./assets/tablet/image-host.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 3rem;
  }
}
