@font-face {
  font-family: "Chivo";
  src: url("./assets/font/Chivo-Thin.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Chivo-Light";
  src: url("./assets/font/Chivo-Light.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #121725;
  font-family: "Chivo";
  text-align: center;
}

@media (min-width: 768px) {
  body {
    text-align: initial;
  }
}