<section class='introduction'>
  <h1>
    Publish your podcasts <span>everywhere.</span>
  </h1>
  <p>
    Upload your audio to Pod with a single click. We’ll then distribute your
    podcast to Spotify, Apple Podcasts, Google Podcasts, Pocket Casts and more!
  </p>
</section>

<style>
  h1 {
    color: #54e6af;
    font-size: 1.625rem;
    line-height: 1.7;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }
  h1 > span {
    color: #ffffff;
  }
  p {
    max-width: 350px;
    color: #c2cbe5;
    line-height: 1.9;
    margin-inline: auto;
    margin-bottom: 3rem;
  }
</style>
