<section>
  <h1>
    Publish your podcasts <span>everywhere.</span>
  </h1>
  <p>
    Upload your audio to Pod with a single click. We’ll then distribute your
    podcast to Spotify, Apple Podcasts, Google Podcasts, Pocket Casts and more!
  </p>
</section>

<style>
  h1 {
    max-width: 375px;
    color: #54e6af;
    font-size: 1.525rem;
    line-height: 1.7;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }
  span {
    color: #ffffff;
  }
  p {
    color: #c2cbe5;
    font-size: 1.1rem;
    line-height: 1.9;
    margin-inline: auto;
    margin-bottom: 3rem;
  }

  @media (min-width: 768px) {
    h1 {
      max-width: initial;
      font-size: 2.6rem;
      line-height: initial;
    }
    p {
      max-width: 440px;
      font-size: 1.125rem;
      margin-inline: initial;
    }
  }
  @media (min-width: 1440px) {
    h1 {
      font-size: 3.1rem;
    }
  }
</style>
