---
import Introduction from "../components/Introduction.astro";
import Sounds from "../components/Sounds.astro";
import Form from "../components/Form.astro";
---

<section class='main-container'>
  <Introduction />
  <Sounds />
  <Form />
</section>

<style>
  @media{
    .main-container{
      max-width: 600px;
      background-color: grey;
      padding-top: 6rem;
    }
  }
</style>