---
import Introduction from "./Introduction.astro";
import Podcasts from "./Podcasts.astro";
import Form from "./Form.astro";
---

<section>
  <Introduction />
  <Podcasts />
  <Form />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    section {
      max-width: 630px;
      background-color: #121725;
      padding-top: 5rem;
      margin-bottom: 7rem;
    }
  }

  @media (min-width: 1440px) {
    section {
      max-width: 739px;
      background-color: #121725;
      padding-top: 5rem;
      margin-bottom: 7rem;
    }
  }
</style>