<section>
  <img
    src='./assets/desktop/spotify.svg'
    alt='Spotify logo'
    width='96'
    height='29'
  />
  <img
    src='./assets/desktop/apple-podcast.svg'
    alt='Apple-Podcast logo'
    width='78'
    height='29'
  />
  <img
    src='./assets/desktop/google-podcasts.svg'
    alt='Google-Podcasts logo'
    width='125'
    height='18'
  />
  <img
    src='./assets/desktop/pocket-casts.svg'
    alt='Pocket-Casts logo'
    width='129'
    height='26'
  />
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  img {
    max-width: 76px;
  }

  @media (min-width: 768px) {
    section {
      order: 2;
      max-width: 545px;
      margin-bottom: initial;
    }
    img {
      max-width: initial;
    }
  }
</style>
