<section class='sounds'>
  <img
    src='/assets/desktop/spotify.svg'
    alt='Spotify Logo'
    width='96'
    height='29'
  />
  <img
    src='/assets/desktop/apple-podcast.svg'
    alt='Apple-Podcast Logo'
    width='78'
    height='29'
  />
  <img
    src='/assets/desktop/google-podcasts.svg'
    alt='Google-Podcasts Logo'
    width='125'
    height='18'
  />
  <img
    src='/assets/desktop/pocket-casts.svg'
    alt='Pocket-Casts Logo'
    width='129'
    height='26'
  />
</section>

<style>
  .sounds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  .sounds img {
    max-width: 76px;
  }
</style>
