<section class='sounds'>
  <img src='/assets/desktop/spotify.svg' alt='Spotify Logo' />
  <img src='/assets/desktop/apple-podcast.svg' alt='Apple-Podcast Logo' />
  <img src='/assets/desktop/google-podcasts.svg' alt='Google-Podcasts Logo' />
  <img src='/assets/desktop/pocket-casts.svg' alt='Pocket-Casts Logo' />
</section>

<style>
  .sounds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  img {
    max-width: 80px;
    gap: 2rem;
  }
</style>
