---
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='Pod: Simplifying podcast distribution.' />

    <link rel='icon' href='/assets/favicon-32x32.png' type='image/x-icon' />
    <title>{pageTitle}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <footer>
      <img src='./assets/desktop/bg-pattern-dots.svg' alt='dots for design' />
    </footer>
  </body>
</html>

<style>
  footer img {
    display: none;
  }
  @media (min-width: 768px) {
    footer {
      max-width: 768px;
      margin-inline: auto;
      padding-left: 3rem;
    }
    footer img {
      display: block;
    }
  }
  @media (min-width: 1440px) {
    footer {
      position: relative;
      max-width: 1440px;
    }
    footer img {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-159%);
    }
  }
</style>
